/*
	--- Summary ---

		01 - Général 		: Root, *, Html, Body, Grid
		02 - Layouts 		: Titles, Header, Footer, Cards Stars
		03 - Sections 		: Search, Hosting, Activities

	--- End Summary ---
*/



/* --- 1365 PX --- */

	@media only screen and (max-width: 1365px) {

		/* --- 01 - Général --- */

			.l-grid {
				padding: 0 20px !important;
				max-width: 100%;
			}
	
		/* --- 01 - Général --- */



		/* --- 02 - Layouts --- */

			.l-footer__container {
				justify-content: flex-start;
				padding-top: 50px !important;
				padding-bottom: 50px !important;
			}

			.l-footer__list:nth-child(even) {
				padding-left: 150px;
				padding-right: 150px;
			}

		/* --- 02 - Layouts --- */



		/* --- 03 - Sections --- */

			.o-hosting__box {
				margin-top: 30px;
			}

			.o-hosting__card {
				width: 50%;
			}

			.o-hosting__card:nth-child(odd) {
				padding-right: 15px;
			}

			.o-hosting__card:nth-child(even) {
				padding-left: 15px;
			}

			.o-hosting__card .o-card__box {
				width: 100%;
			}

			.o-sidebar__card {
				margin-top: 30px;
				width: 100%;
			}

			.o-sidebar__card .o-card__box {
				flex-flow: column wrap;
			}

			.o-sidebar__card .o-card__photo {
				max-width: 100%;
				max-height: 115px;
			}

			.o-sidebar__card .o-card__photo img {
				border-radius: 18px 18px 0 0;
			}

			.o-sidebar__card .o-card__content {
				flex-flow: column wrap;
				width: 100%;
				padding: 12px;
			}

			.o-sidebar__card .o-card__text {
				margin-top: 7px;
				margin-bottom: 7px;
			}

			.o-activities__box {
				max-width: 23%;
			}

		/* --- 03 - Sections --- */

	}

/* --- END 1365 PX --- */



/* --- 1200 PX --- */

	@media only screen and (max-width: 1200px) {

		.o-activities__box:nth-child(odd) {
			padding-right: 15px;
			max-width: 33%;
		}

		.o-activities__box:nth-child(even) {
			padding-left: 15px;
			max-width: 66%;
			display: flex;
			flex-flow: row wrap;
		}

		.o-activities__box:nth-child(even) .o-activities__card {
			width: 50%;
		}

		.o-activities__box:nth-child(even) .o-activities__card:nth-child(odd) {
			padding-right: 15px;
		}

		.o-activities__box:nth-child(even) .o-activities__card:nth-child(even) {
			padding-left: 15px;
		}

		.o-activities__box:nth-child(even) .o-activities__card .o-card__photo img,
		.o-activities__box:nth-child(odd) .o-activities__card .o-card__photo img {
			height: 300px !important;
		}

	}

/* --- END 1200 PX --- */



/* --- 1150 PX --- */

	@media only screen and (max-width: 1150px) {

		/* --- 03 - Sections --- */

			.o-hosting__content {
				order: 2;
				width: 100%;
				background-color: var(--light);
			}

			.o-hosting__card .o-card__box {
				flex-flow: row wrap;
			}

			.o-hosting__card .o-card__photo {
				height: 155px;
				max-height: 155px;
				max-width: 40%;
			}

			.o-hosting__card .o-card__photo img {
				border-radius: 18px 0 0 18px !important;
			}

			.o-hosting__card .o-card__content {
				width: calc(100% - 40%) !important;
				height: auto;
				justify-content: space-between;
				display: flex;
				flex-flow: column wrap;
			}

			.o-hosting__sidebar {
				margin-bottom: 40px;
				width: 100%;
			}

			.o-sidebar__container {
				display: flex;
				flex-flow: row wrap;
			}

			.o-sidebar__card {
				width: 50% !important;
			}

			.o-sidebar__card .o-card__box {
				flex-flow: row wrap !important;
				width: 100%;
				margin-bottom: 0;
			}

			.o-sidebar__card .o-card__photo {
				height: 155px;
				max-height: 155px !important;
				max-width: 40% !important;
			}

			.o-sidebar__card .o-card__photo img {
				border-radius: 18px 0 0 18px !important;
			}

			.o-sidebar__card .o-card__content {
				width: calc(100% - 40%) !important;
			}
			
			.o-sidebar__card:nth-child(odd) {
				padding-right: 15px;
			}

			.o-sidebar__card:nth-child(even) {
				padding-left: 15px;
			}

			.o-filter {
				margin-top: 15px;
			}

		/* --- 03 - Sections --- */
	}

/* --- END 1150 PX --- */



/* --- 900 PX --- */

	@media only screen and (max-width: 900px) {

		/* --- 02 - Layouts --- */

			.l-footer__list {
				width: 50%;
			}

			.l-footer__list:nth-child(even) {
				padding-left: 0;
				padding-right: 0;
			}

			.l-footer__list:last-child {
				padding-top: 45px;
			}

		/* --- 02 - Layouts --- */



		/* --- 03 - Sections --- */

			.o-activities__card {
				margin-bottom: 25px !important;
			}

			.o-activities__card .o-card__box {
				margin-bottom: 0px !important;
			}

			.o-activities__box:nth-child(odd),
			.o-activities__box:nth-child(even) {
				max-width: 100%;
			}

			.o-activities__box:nth-child(even) .o-activities__card {
				width: 100%;
			}

			.o-activities__box:nth-child(even) .o-activities__card:nth-child(odd) {
				padding-right: 0px !important;
			}
	
			.o-activities__box:nth-child(even) .o-activities__card:nth-child(even) {
				padding-left: 0px !important;
			}

			.o-activities__box:nth-child(odd) {
				padding-right: 0px !important;
			}

			.o-activities__box:nth-child(even) {
				padding-left: 0px !important;
			}

		/* --- 03 - Sections --- */

	}

/* --- END 900 PX --- */



/* --- 768 PX --- */

	@media only screen and (max-width: 768px) {

		/* --- 02 - Layouts --- */

			.l-header__container {
				flex-flow: row wrap;
				padding: 0 !important;
			}

			.l-header__logo {
				padding-left: 20px;
			}

			.l-header__cta {
				order: 0;
				padding: 45px 20px !important;
			}

			.l-header__nav {
				justify-content: center;
				width: 100%;
				text-align: center;
				order: 1;
			}

			.l-header__nav ol li {
				width: 50%;
			}

			.l-header__nav ol li a {
				display: block;
				padding: 13px 28px;
				text-decoration: none;
			}

			.l-header__nav ol li a:not([data-state="is-active"])::before {
				opacity: 1;
				bottom: 0;
				top: 100%;
				background-color: var(--grey-light);
			}

			.l-header__nav ol li a[data-state="is-active"]::before {
				opacity: 1;
				bottom: 0;
				top: 100%;
			}

			.l-header__nav ol li a:hover::before {
				background-color: var(--dark);
			}

			.l-footer__list {
				width: 100%;
			}

			.l-footer__list:nth-child(even) {
				padding-top: 45px;
				padding-bottom: 45px;
			}

			.l-footer__list:last-child {
				padding-top: 0px;
			}

		/* --- 02 - Layouts --- */



		/* --- 03 - Sections --- */

			.o-hosting__container {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}

			.o-hosting__content {
				padding: 0 20px 60px 20px;
			}

			.o-hosting__card .o-card__box {
				flex-flow: column wrap;
			}

			.o-hosting__card .o-card__photo {
				height: 115px;
				max-height: 115px;
				max-width: 100%;
			}

			.o-hosting__card .o-card__photo img {
				border-radius: 18px 18px 0 0 !important;
			}

			.o-hosting__card .o-card__content {
				width: 100% !important;
			}

			.o-hosting__sidebar {
				border-radius: 0;
				padding: 45px 20px 35px 20px;
			}

			.o-sidebar__card {
				width: 100% !important;
				margin-top: 10px;
			}

			.o-sidebar__card:nth-child(odd) {
				padding-right: 0;
			}

			.o-sidebar__card:nth-child(even) {
				padding-left: 0;
			}

			.o-sidebar__card .o-card__photo {
				height: 135px;
				max-height: 135px !important;
				max-width: 130px !important;
			}

			.o-sidebar__card .o-card__photo img {
				border-radius: 18px 0 0 18px !important;
			}

			.o-search {
				padding-top: 35px;
			}

		/* --- 03 - Sections --- */

	}

/* --- END 768 PX --- */



/* --- 600 PX --- */

	@media only screen and (max-width: 600px) {

		/* --- 03 - Sections --- */

			.o-hosting__card {
				width: 100% !important;
			}

			.o-hosting__card:nth-child(odd) {
				padding-right: 0;
			}

			.o-hosting__card:nth-child(even) {
				padding-left: 0;
			}

			.o-hosting__card .o-card__box {
				margin-bottom: 10px;
			}

			.o-hosting__cta {
				display: block;
				margin-top: 25px;
			}

			.o-activities__box:nth-child(even) .o-activities__card .o-card__photo img,
			.o-activities__box:nth-child(odd) .o-activities__card .o-card__photo img {
				height: 135px !important;
			}

			.o-activities__list {
				margin-top: 35px;
			}
			
		/* --- 03 - Sections --- */

	}

/* --- END 600 PX --- */



/* --- 400 PX --- */

	@media screen and (max-width: 400px) {

		/* --- 03 - Sections --- */

			.o-sidebar__card .o-card__content {
				width: calc(100% - 130px) !important;
			}

			.o-search__bar {
				padding: 15px 10px;
				margin-right: -10px;
			}

			.o-search__button {
				border-radius: 15px;
				padding: 15px;
			}

			.o-search__button i {
				display: flex;
			}

			.o-search__button span {
				display: none;
			}

		/* --- 03 - Sections --- */

	}

/* --- END 400 PX --- */