/*
	--- Summary ---

		01 - Général 		: Root, *, Html, Body, Grid
		02 - Layouts 		: Titles, Header, Footer, Cards Stars
		03 - Sections 		: Search, Hosting, Activities

	--- End Summary ---
*/



/* --- 01 - Général --- */

	:root {
		--blue : #0065FC;
		--blue-darken :#00327e;
		--blue-light : #DEEBFF;
        --grey-star: #D8D8D8;
		--grey-light : #F2F2F2;
		--dark: #000000;
        --dark-shadow: #d5d5d5;
		--light: #FFFFFF;
	}

    *, *::before, *::after{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	html {
		color: var(--dark);
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-weight: 300;
	}
		body {
			padding: 0;
			margin: 0;
		}
			h1, h2, h3, h4, h5, h6 {
				color: var(--dark);
				margin: 0;
			}
			.l-grid {
				padding: 0 50px;
				max-width: 1440px;
				margin: auto;
			}

/* --- 01 - Général --- */



/* --- 02 - Layouts --- */

	/* TITLES */

		.o-title__lv1 span {
			display: block;
			color: inherit;
			font-size: 16px;
			font-weight: 300;
			margin-top: 15px;
		}

		.o-title--lv2 {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}

			.o-title--lv2 i {
				color: var(--dark);
			}

		.o-title--lv4 {
			margin-bottom: 25px;
		}

		.o-card__stars i {
			color: var(--grey-star);
		}

			.o-card__stars i.is-checked {
				color: var(--blue);
			}


	/* HEADER */

		.l-header {
			background-color: var(--light);
		}

			.l-header__container {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
			}

				.l-header__logo {
					width: 95px;
					height: 30px;
				}

				.l-header__nav ol {
					display: flex;
					flex-flow: row wrap;
					list-style-type: none;
					width: 100%;
					margin: 0;
					padding: 0;
				}

					.l-header__nav ol li {
						display: block;
					}

						.l-header__nav ol li a {
							color: var(--dark);
							display: block;
							padding: 50px 28px;
							text-decoration: none;
						}

							.l-header__nav ol li a:hover,
							.l-header__nav ol li a[data-state="is-active"]:hover,
							.l-header__nav ol li a[data-state="is-cta"]:hover {
								background-color: var(--blue-light);
								color: var(--blue-darken);
								transition: all ease-in-out 450ms;
							}

							.l-header__nav ol li a[data-state="is-active"] {
								color: var(--blue);
								position: relative;
							}

							.l-header__nav ol li a[data-state="is-active"]::before {
								content: "";
								display: block;
								height: 2px;
								width: 100%;
								position: absolute;
								top: 0;
								left: 0;
								background-color: var(--blue);
							}

							.l-header__nav ol li a[data-state="is-cta"] {
								color: var(--blue); font-weight: 600;
							}

	/* END HEADER */



	/* FOOTER */

		.l-footer {
			background-color: var(--grey-light);
		}
			.l-footer__container {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				padding: 50px 317px 50px 50px;
			}

		.l-footer__list ol {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		.l-footer__list ol li {
			margin-bottom: 15px;
		}

		.l-footer__list ol li a {
			text-decoration: none;
			color: var(--dark);
			transition: color ease 450ms;
		}

		.l-footer__list ol li a:hover {
			color: var(--blue);
			transition: color ease 450ms;
		}

	/* END FOOTER */

/* --- 02 - Layouts --- */



/* --- 03 - Sections --- */

	/* SEARCH */

		/*.o-search {
			
		}*/

	/* END SEARCH */



    /* HOSTING */

		/* HOSTING CONTAINER */

			.o-hosting__container {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				margin-top: 40px;
				margin-bottom: 65px;
			}

			.o-hosting__content,
			.o-hosting__sidebar {
				background-color: var(--grey-light);
				border-radius: 18px;
				padding: 35px;
			}

			/* HOSTING CONTENT */

				.o-hosting__content {
					width: calc(100% - 420px - 40px);
				}

				.o-hosting__title {
					/**/
				}

				.o-hosting__box {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					margin-top: 20px;
				}

				.o-hosting__card {
					display: block;
					text-decoration: none;
					color: var(--dark);
				}

				.o-hosting__card:hover .o-card__photo {
					opacity: 0.85;
					transition: all ease-in-out 450ms;
				}

				.o-hosting__card:hover .o-card__title,
				.o-hosting__card:hover .o-card__text strong {
					color: var(--blue);
					transition: all ease-in-out 450ms;
				}

				.o-hosting__card .o-card__box {
					background-color: var(--light);
					border-radius: 18px;
					box-shadow: 0px 0px 15px var(--dark-shadow);
					transition: box-shadow ease 450ms;
					padding: 5px;
					margin-bottom: 30px;
					width: 245px;
					display: flex;
					flex-flow: row wrap;
				}

				.o-hosting__card .o-card__photo {
					max-height: 115px;
				}

				.o-hosting__card .o-card__photo img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					border-radius: 18px 18px 0 0;
				}

				.o-hosting__card .o-card__content {
					height: calc(100% - 115px);
					padding: 12px;
					width: 100%;
				}

				.o-hosting__card .o-card__title {
					font-size: 16px;
				}

				.o-hosting__card .o-card__text {
					margin: 0;
					margin-top: 7px;
					margin-bottom: 7px;
				}

				.o-hosting__cta {
					text-decoration: none;
					color: var(--dark);
					font-weight: 600;
					transition: color 450ms ease-in-out;
				}

				.o-hosting__cta:hover {
					color: var(--blue);
					transition: all 450ms ease-in-out;
				}

			/* END HOSTING CONTENT */

			/* HOSTING SIDEBAR */

				.o-hosting__sidebar {
					width: 420px;
				}

				.o-sidebar__container {
					margin-top: 20px;
				}

				.o-sidebar__card {
					background-color: var(--light);
					border-radius: 18px;
					color: var(--dark);
					transition: all ease 450ms;
					text-decoration: none;
					padding: 5px;
					margin-top: 20px;
					width: 345px;
					display: block;
				}

				.o-sidebar__card:hover .o-card__photo {
					opacity: 0.85;
					transition: all ease-in-out 450ms;
				}

				.o-sidebar__card:hover .o-card__title,
				.o-sidebar__card:hover .o-card__text strong {
					color: var(--blue);
					transition: all ease 450ms;
				}

				.o-sidebar__card .o-card__box {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
				}

				.o-sidebar__card .o-card__content {
					background-color: var(--light);
					display: flex;
					flex-flow: column wrap;
					justify-content: space-between;
					width: calc(100% - 127px);
					padding: 10px 20px 10px 20px;
				}

				.o-sidebar__card .o-card__photo {
					max-width: 127px;
					height: 134px;
				}

				.o-sidebar__card .o-card__photo img {
					border-radius: 18px 0 0 18px;
					height: 100%;
					width: 100%;
					object-fit: cover;
				}

				.o-sidebar__card .o-card__title {
					font-size: 16px;
				}

				.o-sidebar__card .o-card__text {
					margin: 0;
					margin-top: 10px;
				}

			/* HOSTING SIDEBAR */

		/* END CONTAINER */

    /* END HOSTING */



    /* ACTIVITIES */

		.o-activities {
			margin-bottom: 20px;
		}

		.o-activities__box {
			display: flex;
			flex-flow: row wrap;
			margin-top: 20px;
		}

		.o-activities .o-card {
			margin-bottom: 40px;
		}

    /* END ACTIVITIES */

/* --- 03 - Sections --- */