/*
	--- Summary ---

		01 - Général
		02 - Layouts
		03 - Sections

	--- End Summary ---
*/



/* --- 01 - Général --- */

	:root {
		--blue : #0065FC;
		--blue-darken :#00327e;
		--blue-light : #DEEBFF;
        --grey-star: #D8D8D8;
		--grey-light : #F2F2F2;
		--dark: #000000;
        --dark-shadow: #a5a5a5;
		--light: #FFFFFF;
	}

    *, *::before, *::after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

	html {
		color: var(--dark);
		font-family: Raleway, sans-serif;
		font-size: 16px;
		font-weight: 300;
	}

		body {
			padding: 0; 
			margin: 0;
		}

		.l-grid {
			padding: 0 50px;
		}

        .o-title--lv2 {
            margin-bottom: 20px;
        }

/* --- 01 - Général --- */



/* --- 02 - Layouts --- */

	.l-header {
		background-color: var(--light);
	}

		.l-header__container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}

		.l-header__logo {
			width: 95px;
			height: 30px;
		}

			.l-nav {
				display: flex;
				flex-flow: row wrap;
				list-style-type: none;
				width: 100%;
				margin: 0;
				padding: 0;
			}

				.l-nav__item {
					display: block;
				}

					.l-nav__item a {
						color: var(--dark);
						display: block;
						padding: 50px 28px;
						text-decoration: none;
					}

						.l-nav__item a:hover,
						.l-nav__item a[data-state="is-active"]:hover,
						.l-nav__item a[data-state="is-cta"]:hover {
							background-color: var(--blue-light);
							color: var(--blue-darken);
							transition: all ease-in-out 450ms;
						}

					.l-nav__item a[data-state="is-active"] {
						color: var(--blue);
						position: relative;
					}

						.l-nav__item a[data-state="is-active"]::before {
							content: "";
							display: block;
							height: 2px;
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background-color: var(--blue);
						}

					.l-nav__item a[data-state="is-cta"] {
						color: var(--blue);
						font-weight: 600;
					}


	.l-footer {
		background-color: var(--grey-light);
	}

		.l-footer__container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 50px 0 50px 50px;
			max-width: 1072px;
		}

		.l-footer__list ol {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

			.l-footer__list ol li {
				margin-bottom: 15px;
			}

				.l-footer__list ol li a {
					text-decoration: none;
					color: var(--dark);
					transition: color ease 350ms;
				}

				.l-footer__list ol li a:hover {
					color: var(--blue);
					transition: color ease 350ms;
				}

/* --- 02 - Layouts --- */



/* --- 03 - Sections --- */

    /* CARD */

        .o-card {
            background-color: var(--light);
            border-radius: 18px;
            display: flex;
            transition: box-shadow ease 550ms;
        }

            .o-card:hover {
                box-shadow: 0px 0px 15px var(--dark-shadow);
                transition: box-shadow ease 550ms;
            }

                .o-card__photo {
                    max-width: 100%;
                }

                .o-card__photo img {
                    height: 100%;
                    max-height: 100%;
                    width: 100%;
                    max-width: 100%;
                }

            .o-card__stars i {
                color: var(--grey-star);
            }

            .o-card__stars i.is-checked {
                color: var(--blue);
            }

            .o-card--bordered {
                padding: 5px;
                margin-bottom: 30px;
            }

            .o-card--col {
                flex-flow: column wrap;
            }

                .o-card--col .o-card__photo img {
                    border-radius: 18px 18px 0 0;
                }

            .o-card--row {
                flex-flow: row wrap;
            }

                .o-card--row .o-card__photo img {
                    border-radius: 18px 0 0 18px;
                    height: 134px;
                    width: 127px;
                }

    /* END CARD */

    /* HOSTING */

        .o-hosting__container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

            .o-hosting__content,
            .o-hosting__sidebar {
                background-color: var(--grey-light);
                border-radius: 18px;
                padding: 35px;
            }

            .o-hosting__content {
                width: calc(100% - 420px - 40px);
            }

                .o-hosting__box {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                }

                    .o-hosting__box .o-card {
                        width: 246px;
                    }

                        .o-hosting__box .o-card__photo {
                            max-height: 115px;
                        }

            .o-hosting__sidebar {
                width: 420px;
            }

    /* END HOSTING */

/* --- 03 - Sections --- */